.planetCardInfo{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 300px;
  height: 270px;
  background-color: rgba(255,255,255, 0.8);
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

.planetCardInfo, p, h2{
  margin-left: 7px;
}

.favoriteDiv{
  float: right;
  border: solid black 1px;
  width: 50px;
  height: 50px;
  background-image: url('../../images/inactive.png');
  background-size: cover;
}

.favorite{
  background-image: url('../../images/active.png');
  background-size: cover;
  border: solid red 1px;
}
