

#titles {
  display: inline-block;
  position: fixed;
	width: 35%;
	height: 100em;
	bottom: 0;
	left: 1%;
	/*margin-left: -10px;*/
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
	transform-origin: 50% 99%;
	transform: perspective(380px) rotateX(25deg);
}

#titles h2{
  text-align: center;
}

#titles:after
{
	position: fixed;
	content: ' ';
	left: 0;
	right: 0;
	top: ;
	bottom: 20%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}


#titlecontent{
  display:inline-block;
	position: relative;
	top: 100%;
	animation: scroll 60s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
