.App {
  padding: 5%;
  display: flex;
  text-align: center;
  background-color: red;
}

.storyScroll{
  display: flex;
  width: 30%;
  color: #757575;
  flex-direction: column;
  border: solid red 1px;
}

.display{
  display: flex-wrap;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;

}
