.App {
  padding: 5%;
  display: flex;
  text-align: center;
  background-color: #bdbdbd;
}

.storyScroll{
  display: flex;
  width: 40%;
  flex-direction: column;
  height: auto;
  border: solid red 1px;
}

.display{
  display: flex-wrap;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}
